<li id="menu-item-{{ node.pk }}"
    class="menu-item {% if node.slug in category_tree_slugs %} current-menu-item current_page_item {% endif %} menu-item-has-children menu-item-{{ node.pk }}">
    <a href="{{ node.get_absolute_url }}">{{ node.name }}</a>
    {% load blog_tags %}
    {% query nav_category_list parent_category=node as child_categories %}
    {% if child_categories %}

        <ul class="sub-menu">
            {% for child in child_categories %}
                {% with node=child template_name="share_layout/nav_node.html" %}
                    {% include template_name %}
                {% endwith %}
            {% endfor %}

        </ul>
    {% endif %}
</li>