{% extends 'share_layout/base.html' %}
{% load blog_tags %}
{% load cache %}
{% load i18n %}
{% block header %}

    <title>{% trans 'Big screen' %} | {{ SITE_DESCRIPTION }}</title>

    <meta name="description" content="{{ SITE_SEO_DESCRIPTION }}"/>
    <meta name="keywords" content="{{ SITE_KEYWORDS }}"/>
    <meta property="og:type" content="blog"/>
    <meta property="og:title" content="{{ SITE_NAME }}"/>
    <meta property="og:description" content="{{ SITE_DESCRIPTION }}"/>
    <meta property="og:url" content="{{ SITE_BASE_URL }}"/>
    <meta property="og:site_name" content="{{ SITE_NAME }}"/>

{% endblock %}
{% block content %}
    <div id="primary" class="site-content">
        <div id="content" role="main">

            <header class="big_screen-header">

                <p class="big_screen-title">{% trans 'Big screen' %}</p>
            </header>

            <div class="big-screen-body">
                <div class="preview-card">
                    <div class="iframe-wrapper">
                        <iframe src="{% url 'blog:big_screen1' %}"></iframe>
                        <a class="preview-link-overlay" href="{% url 'blog:big_screen1' %}" title="点击查看完整页面"></a>
                    </div>
                    <div class="preview-description">
                        {{ big_screen_data.big_screen1_title }}
                    </div>
                </div>
                <div class="preview-card">
                    <div class="iframe-wrapper">
                        <iframe src="{% url 'blog:big_screen2' %}"></iframe>
                        <a class="preview-link-overlay" href="{% url 'blog:big_screen2' %}" title="点击查看完整页面"></a>
                    </div>
                    <div class="preview-description">
                        {{ big_screen_data.big_screen2_title }}
                    </div>
                </div>
                <div class="preview-card">
                    <div class="iframe-wrapper">
                        <iframe src="{% url 'blog:big_screen3' %}"></iframe>
                        <a class="preview-link-overlay" href="{% url 'blog:big_screen3' %}" title="点击查看完整页面"></a>
                    </div>
                    <div class="preview-description">
                        {{ big_screen_data.big_screen3_title }}
                    </div>
                </div>
            </div>
        </div><!-- #content -->
    </div><!-- #primary -->

{% endblock %}


{% block sidebar %}
    {% load_sidebar user 'i' %}
{% endblock %}


