body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fff;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin-heading {
  margin: 0 0 15px;
  font-size: 1.8rem;
  font-weight: 400;
  color: #fff;
}
.form-signin .checkbox {
  margin-bottom: 10px;
  font-weight: normal;
  color: #fff;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px;
  font-size: 15px;
}
.form-signin .form-control::placeholder {
  font-size: 14px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: 10px;
  background-color: #dbdbdb;
}
.form-signin input[type="text"] {
  margin-bottom: 10px;
  background-color: #dbdbdb;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  background-color: #dbdbdb;
}
.form-signin input[type="button"] {
  width: 244px;
  height: 40px;
  background-color: #2e3542;
  text-align: center;
  margin: 0 0 10px;
  padding: 8px;
  color: #dbdbdb;
  border: none;
  border-radius: 2px;
  font-size: 14px;
}
.card {
  width: 304px;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  background-color: rgba(18, 18, 18, 0.8);
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
          box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
}
.card-signin {
  width: 354px;
  padding: 40px;
}
.card-profile {
  width: 100%;
  padding: 1.25rem 1.5625rem 1.875rem;
  margin: 0 auto 1.5625rem;
  background-color: rgba(18, 18, 18, 0.8);
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
          box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
  color: #dbdbdb;
  text-align: center;
}
.card-profile p {
  font-size: 1.5rem;
}
.card-profile p, h2, a {
  margin-bottom: 1.8rem;
}
.card-signin .profile-img,
.card-profile .profile-img {
  display: block;
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  object-fit: cover;
}
.form-profile input {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
  font-size: 15px;
  color: #1a1a1a;
}
.form-profile input[id="id_avatar"] {
  color: #dbdbdb;
}
.form-profile input::placeholder {
  font-size: 14px;
}
.form-profile input:focus {
  z-index: 2;
}
/*.form-profile button {*/
/*    color: #1a1a1a;*/
/*}*/
.card-profile .button-like-link,
.card-profile button {
    display: inline-block;
    padding: 0.25rem 0.75rem;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    text-decoration: none;
}
.card-profile .button-like-link:hover,
.card-profile .button-like-link:hover {
    background-color: #e0e0e0;
}
.widget-login {
  font-size: 15px;
  color: #777777;
}

.form-signin ul[classname="errorlist"] {
  color: #bd2c00;
}

.login-footer-links a {
  color: #b3d4f4;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: normal;
  color: #fff;
  vertical-align: middle !important;
}

.custom-checkbox input[type="checkbox"] {
  appearance: none; /* 去除默认样式 */
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  margin-right: 8px;
  transform: translateY(1px); /* 微调垂直位置 */
}

.custom-checkbox input[type="checkbox"]:checked::after {
  content: "✓";
  color: white;
  font-size: 16px;
  position: absolute;
  left: 3px;
  top: -2px;
}

.custom-checkbox input[type="checkbox"]:checked {
  background-color: #4CAF50;
  border-color: #4CAF50;
}
